:root {
    --white: white;
    --brown: brown;
    --col-1: calc(100%/12*1);
    --col-2: calc(100%/12*2);
    --col-3: calc(100%/12*3);
    --col-4: calc(100%/12*4);
    --col-5: calc(100%/12*5);
    --col-6: calc(100%/12*6);
    --col-7: calc(100%/12*7);
    --col-8: calc(100%/12*8);
    --col-9: calc(100%/12*9);
    --col-10: calc(100%/12*10);
    --col-11: calc(100%/12*11);
    --col-12: calc(100%/12*12);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto';
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    width: calc(100%/2);
    background: white;
}

.col-1 {
    width: var(--col-1);

}

.col-2 {
    width: var(--col-2);
}

.col-3 {
    width: var(--col-3);
}

.col-4 {
    width: var(--col-4);
}

.col-5 {
    width: var(--col-5);
}

.col-6 {
    width: var(--col-6);
}

.col-7 {
    width: var(--col-7);
}

.col-8 {
    width: var(--col-8);
}

.col-9 {
    width: var(--col-9);
}

.col-10 {
    width: var(--col-10);
}

.col-11 {
    width: var(--col-11);
}




.width-100 {
    padding: 20px;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-align {
    text-align: center;
}

.font-size {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    padding-top: 27px;
}

header a {
    color: black;
}

a:hover {
    color: blue;
    border-bottom: 1px solid rgba(1, 1, 255, 0.521);
}

header .fa-sharp {
    display: none;
}

header img {
    width: 250px;
    height: 250px;
}

header .padding-top {
    padding-top: 150px;
}

header h1 {
    padding-bottom: 40px;
}

header button {
    width: 208px;
    height: 47px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    background: #FF6464;
    border-radius: 2px;
    margin: 38px 0 70px;
}

/* .john{
    display: flex;
    flex-direction: column-reverse;
} */
.border {
    border: 1px solid red;
}

header .img {
    display: flex;
    justify-content: end;
}

main,
section p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}

main .col-6 h3 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;

}

main .col-6 p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
}

section hr {
    border: 1px solid #e3e1e1;
    margin: 35px 0;
}

section .row {
    display: flex;
    flex-direction: column;
}

section .row p b {
    
   
    background: #142850;
    border-radius: 10px;
    color: white;
    width: 72px;
    height: 25px;
    font-size: 20px;
    padding: 4px;
    margin-right: 25px;
}
section .row p{
    color: #8695A4;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    padding: 15px 0;
}
section .row2{
    display: flex;   
    flex-wrap: wrap;
}
section .row .article{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: black;
}
footer{
    height: 130px;
    width: 100%;   
}
footer i{
   font-size: 30px; 
     
}
footer .row .icons{
    margin: auto;
}




















@media (max-width:630px) {
    .john {
        display: flex;
        flex-direction: column-reverse;
    }
    header ul.col-4 {
        display: none;

    }

    header .fa-sharp {
        display: block;
    }
    .col-12{
        width: var(--col-12);
    }
    main .col-6 div {
        margin: auto;
    }
}
@media (max-width:576px) {
    header .col-6{
        width: 100%;

    }
    header .img{
        width: 200px;
        margin: auto;
    }
}